<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是我的网站</title>
<hr/>
</head>
<body style=background-color:#60ccff>
<img src="static/gxibvc.png" width="100",height="100" style="float:center"/>
<hr/>

<div style="margin:0 auto;width:640px">
    <h1>广西国际商务职业技术学院 </h1>
    <!--<hr><video src="static/gxibvc.mp4" controls width=640px" height="480px" autoplay ></video><hr/>-->
    <p>广西壮族自治区人民政府举办的一所普通高等院校</p>
</div>

<a href="http://gxibvc.net">学校官网</a>
<hr/>
<a href="/page1">第一页 智能与信息工程学院介绍</a>
</body>
</html>